.container {
  width: auto;
  position: relative;
  left: 0;
  right: 0;
  margin-left: 5%;
  margin-right: 5%;
  height: 100px;
}

.container:after {
  content: "";
  position: absolute;
  height: 4px;
  background-color: #5eb33c;
  left: 0;
  right: 0;
  top: 48%;
}

.timeline {
  position: relative;
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.timeline-item {
  list-style: none;
  float: left;
  position: relative;
  text-align: center;
  width: 25px;
  height: 25px;
  border: 3px solid #5eb33c;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 50px;
  background: #5eb33c;
  cursor: context-menu;
  z-index: 3;
}

.current {
  background-color: #f1f1f1 !important;
}

.activity {
  position: absolute;
  padding-left: 5px;
  bottom: 35%;
}

.activity::before {
  content: " ";
  height: 0;
  position: absolute;
  width: 0;
  z-index: 1;
  border: medium solid #5eb33c;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #5eb33c transparent;
}

.content {
  position: inherit;
  width: 180px;
  height: auto;
  margin: 8px;
  padding: 8px;
  left: -25px;
  border: 2px solid #5eb33c;
  border-radius: 5%;
}

.content h5 {
  margin-top: 0;
  margin-bottom: 5px;
}

.content p {
  margin-top: 0;
  margin-bottom: 5px;
}
